$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$roboto: Roboto, $helvetica;

$imgSriteUrl: "../img/icons-2024.png";
$iconSpriteRetinaWidth: 100;
$iconSpriteRetinaHeight: 900;

$sideBarBtnBackgroundColor1: #732d07;
$sideBarBtnBackgroundColor2: #632300;
